<h1> Flats</h1>
<h3> Boas vindas ao sistema de locação de apartamentos </h3>




<%if @properties.empty? %> 
    <%='Nenhum imóvel disponível'%>
<%else%> 
    <%='Imoveis disponiveis:'%>    
    <% @properties.each do |property| %> 
    <%= link_to property.title, property%>
    <! link_to(property.title, property_path(property.id)) >
    <%= property.description%>
    Quartos: <%= property.rooms%>
    <% end %> 
<% end %> 