<header>

<h1> Flats</h1>
<h3> Boas vindas ao sistema de locação de apartamentos </h3>

</header>

<aside>
<nav>
<h2> Filtrar por tipo de imóvel:</h2>
<%@property_types.each do |pt|%>
<%= link_to pt.name, property_type_path(pt.id)%>
<%end%>
</nav>
</aside>


<%if @properties.empty? %> 
   <p> <%='Nenhum imóvel disponível'%></p>
<%else%> 
   <p><%='Imoveis disponiveis:'%>  </p>  
   <% @properties.each do |property| %>     
       <%= link_to property.title, property%><!*>
       
      <br>
    
      Descrição: <%= property.description%>
      , Quartos: <%= property.rooms%>
      <br> 
      <br>   
    <% end %>     
<% end %> 
<br>
<br>
<br>


<%= link_to 'Cadastrar Imóvel', new_property_path%>

<!Alternativa: link_to(property.title, property_path(property.id)) >