<header>

<h1> Flats</h1>
<h3> <i> Boas vindas ao sistema de locação de apartamentos </i></h3>

</header>
<br> 




<%if @property_types.empty? %> 
   <h3> Nenhum imóvel disponível </h3>
<%else%> 

    
   <tt><h4>Imoveis disponiveis:</h4>
   
    Filtrar por tipo de imóvel:
    
   <%@property_types.each do |pt|%>
   <%= link_to pt.name, property_type_path(pt.id)%>
   <%end%>     
     </tt> 
     <br>
     <br>
   <% end %>   
   <% @properties.each do |property| %>     
       <%= link_to property.title, property%><!*>  
       <br>    
      Descrição: <%= property.description%>
      , Quartos: <%= property.rooms%>
      <br>   
    <% end %> 
   
   
     



<!--<%= link_to 'Cadastrar Imóvel', new_property_path%>

Alternativa: link_to(property.title, property_path(property.id))-->