<h1> Flats</h1>
<h3> Boas vindas ao sistema de locação de apartamentos </h3>




<%if @properties.empty? %> 
   <p> <%='Nenhum imóvel disponível'%></p>
<%else%> 
     <p><%='Imoveis disponiveis:'%>  </p>
    <br>   
    <% @properties.each do |property| %> 
    <%= link_to property.title, property%>
    <br>
    
    Descrição <%= property.description%>
    Quartos: <%= property.rooms%>
    <% end %> 
<% end %> 


<!Alternativa: link_to(property.title, property_path(property.id)) >