<h1> Flats</h1>
<h3> Boas vindas ao sistema de locação de apartamentos </h3>

<% @properties.each do |i| %>
<%= i.title%>
<%= i.description%>
Quartos: <%= i.rooms%>
<%end%>


<%if @properties.empty? %> 
    <%='Nenhum imóvel disponível'%>
<%else%> 
    <%='Imoveis disponiveis:'%>    
    <% @properties.each do |property| %> 
    <%= link_to property.title, property%>
    <% end %> 
<% end %> 