<!DOCTYPE html>
<html>
  <head>
    <title>Flats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  

    <% if property_owner_signed_in? %>  
            
          <a class="nav-link"><%= link_to 'Meus Imóveis', my_properties_properties_path %></a>
          <a class="nav-link"><%= link_to 'Cadastrar Imóvel', new_property_path %></a>     
          <a class="nav-link"><%= 'Você esta logado como: '+ current_property_owner.email %></a>
          <a class="nav-link"><%= link_to 'Logout', destroy_property_owner_session_path, method: :delete %></a>
        
      <% elsif user_signed_in? %>
        
          <a class="nav-link active"> <%= link_to current_user.email, my_profile_path %></a>
          <a class="nav-link active"> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
        
      <% else %>     
          <span class="navbar-text mx-3"> Faça seu login para reservar ou cadastrar seu imóvel ! </span>  
          <a class="nav-link"><%= link_to 'Entrar como locador', new_user_session_path %></a>
          <a class="nav-link"><%= link_to 'Entrar como proprietário', new_property_owner_session_path %></a>

      <% end %>     
         
  </nav>    
    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>